<!DOCTYPE HTML>
<html>
	<head>
		<meta property="og:title" content="{{ if ne .URL "/" }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
		<meta property="og:site_name" content="{{ .Site.Title }}" />
		<meta property="og:url" content="{{ .Permalink }}" />

		{{ if .IsPage }}
			<meta property="og:image" content="{{ substr .Site.BaseURL 0 -1 }}{{ (.Params.twitterimage) or (.Params.image) }}">
			<meta property="og:type" content="article" />
			<meta property="article:author" content="{{ .Site.Params.facebook }}" />
			<meta property="article:publisher" content="{{ .Site.Params.facebook }}" />
			<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
			<meta name="twitter:card" content="summary_large_image" />
			<meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
			<meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
			<meta name="twitter:title" content="{{ .Title }}" />
			<meta name="twitter:description" content="{{ .Description }}" />
			<meta name="twitter:url" content="{{ .Permalink }}" />
			<meta name="twitter:image" content="{{ substr .Site.BaseURL 0 -1 }}{{ (.Params.twitterimage) or (.Params.image) }}">
		{{ else }}
			<meta property="og:type" content="website" />
		{{ end }}

		<title>{{ if ne .URL "/" }} {{ .Title }} | {{ end }} {{ .Site.Title }}</title>

		{{ if .Description }}
			<meta name="description" content="{{ .Description }}" />
			<meta property="og:description" content="{{ .Description }}"/>
		{{ else }}
			<meta name="description" content="{{ .Site.Params.Subtitle }}" />
			<meta property="og:description" content="{{ .Site.Params.Subtitle }}"/>
		{{ end }}

		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
									</ul>
								</header>
