{{ partial "header.html" . }}
    <!-- Banner -->
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
      {{ $pageNumber := $paginator.PageNumber }}

      {{ if (eq $pageNumber 1) }}
        <section id="banner">
          {{ range (first 1 $.Site.Taxonomies.tags.featured) }}
            <div class="content">
              <header>
                <h1>{{ .Page.Title }}</h1>
              </header>
              <p>{{ .Page.Description }}</p>
              <ul class="actions">
                <li><a href="{{ .Page.URL }}" class="button big">Learn More</a></li>
              </ul>
            </div>
            <span class="image object">
              <img src="{{ .Page.Params.image }}" alt="" />
            </span>
          {{ end }}
        </section>
      {{ end }}

    <!-- Section -->
      <section>
        <header class="major">
          <h2>Recent articles</h2>
        </header>
        <div class="posts">


          {{ range $index, $page := .Paginator.Pages }}
            {{ .Render "li" }}
          {{ end }}

        </div>
      </section>
      <section>
        {{ partial "pagination.html" $paginator }}
      </section>

{{ partial "footer.html" . }}
